<template>
  <div id="backend" class="box has-background-light">
    <h2>Backend simulation module</h2>
    <p>Data loops : {{ loops }}</p>
    <p>
      <i>1 loop every 5 seconds</i>
    </p>
    <button @click="reload">Clear all local storage</button>
    <br />
    <button @click="resetStocksData">Reset stocks values</button>
  </div>
</template>

<script>
import { DataGeneratorService } from "./dataGenerator.js";
import { BackendMethods } from "./backendMethodsSvc.js";

export default {
  data() {
    return {
      loops: 0, // I am going to loop the data, backend will be the localStorage, I can watch it to update some data
      SUGlobalData: []
    };
  },
  methods: {
    reload() {
      localStorage.clear();
      document.location.reload();
    },
    resetStocksData() {
      BackendMethods.removeGlobalData();
      DataGeneratorService.initialStocks();
      this.loops = 0;
    },
    loopGenerator() {
      DataGeneratorService.updateStocksValues();
      this.loops++;
    },
    totalValue(user) {
      let userStocks = this.getUsersStocks(user);
      let total = 0;
      for (let i = 0; i < userStocks.length; ++i) {
        total +=
          this.SUGlobalData[userStocks[i].index].value * userStocks[i].quantity;
      }
      return total;
    },
    getUserPortfolioValues(userName) {
      return JSON.parse(localStorage.getItem(`SU${userName}`)).data.portfolio
        .trendValues;
    },
    getUsersStocks(userName) {
      return JSON.parse(localStorage.getItem(`SU${userName}`)).data.portfolio
        .stocks;
    },
    updateUserTrendValue(userName) {
      const currentTotalValue = this.totalValue(userName);
      BackendMethods.updatePortfolioValues(userName, currentTotalValue);
    }
  },
  created() {
    if (localStorage.getItem("SUGlobalData") !== null) {
      this.loops = JSON.parse(localStorage.getItem("SUGlobalData")).length;
    }
    DataGeneratorService.initialStocks();
    setInterval(() => this.loopGenerator(), 5000);
    setInterval(() => {
      this.SUGlobalData = JSON.parse(localStorage.getItem("SUGlobalData"));
      const usersList = BackendMethods.getUserList(); // Need it in order to update the user's trend values ( for the graph)
      if (usersList === false) {
        return;
      } else {
        for (let i = 0; i < usersList.length; ++i) {
          this.updateUserTrendValue(usersList[i]);
        }
      }
    }, 1000);
  }
};
</script>

<style scoped>
#backend {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 5px;
}
</style>
