<template>
  <div class="about">
    <h1 class="title has-text-primary">This is an about page</h1>
    <article class="message is-primary">
      <div class="message-header">
        <p>Tips</p>
      </div>
      <div class="message-body">
        <article class="message">
          <div class="message-body">
            Just a few tips because this has been developed for the job
            interview to come, I tried to make more convenient things and just
            go to the essential, given the recommended maximum time.
          </div>
        </article>
        <ul>
          <li>
            The
            <strong>user name</strong> used to log in is the first name you
            entered while creating an account, otherwise it could have been sort
            of an ID sent by email to the user
          </li>
          <li>
            I used the
            <i>local storage</i> in place of a real back-end setup, so I don't
            use any <i>web socket nor HTTP methods</i>. This website is built in
            a way that allows to integrate those two things so it can be used
            without major changes,
            <strong>it wouldn't break anything to do so.</strong>
          </li>
          <li>
            I didn't put that much security around the data from the sign up
            form because it is actually not used, except the password (md5 hash)
          </li>
          <li>
            I use a
            <em>token</em> system that is used everytime the user wants to
            change something, it also allows more security to avoid anyone to
            have acces to the website's content just by changing a value, using
            the console
          </li>
        </ul>
      </div>
    </article>

    <h2 class="subtitle">
      You can remove all the local storage data or just reinitialize the stocks
      values here :
    </h2>
    <button @click="reload">Clear all local storage</button>
    <button @click="resetStocksData">Reset stocks values</button>
  </div>
</template>
<script>
import { DataService } from "@/services/dataSvc.js";
import { DataGeneratorService } from "@/modules/dataGenerator.js";

export default {
  methods: {
    reload() {
      localStorage.clear();
      document.location.reload();
    },
    resetStocksData() {
      DataService.removeGlobalData();
      DataGeneratorService.initialStocks();
    }
  }
};
</script>
