<template>
  <div class="home">
    <section class="hero is-large is-light is-bold">
      <div class="hero-head">
        <div class="container">
          <h1
            class="title is-uppercase has-text-weight-bold is-size-1 has-text-link"
          >
            stockup
          </h1>
          <h2 class="subtitle">Stack your stocks in simplicity</h2>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-background-primary is-fluid box">
          <h2 class="subtitle has-text-light">Welcome to StockUp !</h2>
          <div v-if="currentUser == ''">
            You can
            <router-link to="/login">log in</router-link>&nbsp;or
            <router-link to="/signup">create an account</router-link>&nbsp;in
            order to start.
            <p>
              If you have any trouble, don't forget to visit the
              <router-link to="/about">about</router-link>&nbsp;section !
            </p>
          </div>
          <div v-else>
            <p>You are currently logged in.</p>
            <br />
            <article class="message is-info">
              <div class="message-header">
                <p>Tips</p>
              </div>
              <div class="message-body">
                <article class="message">
                  <div class="message-body">
                    Just a few tips because this has been developed for the job
                    interview to come, I tried to make more convenient things
                    and just go to the essential, given the recommended maximum
                    time.
                  </div>
                </article>
                <ul>
                  <li>
                    To reinitialize the stocks values or just to remove all the
                    data stored in the local storage, you can use the small box
                    in the lower-left corner or your screen, or you can go to
                    the
                    <router-link to="/about">about</router-link>&nbsp;section
                  </li>
                  <li>
                    The
                    <strong>user name</strong> used to log in is the first name
                    you entered while creating an account, otherwise it could
                    have been sort of an ID sent by email to the user
                  </li>
                  <li>
                    I used the
                    <i>local storage</i> in place of a real back-end setup, so I
                    don't use any <i>web socket nor HTTP methods</i>. This
                    website is built in a way that allows to integrate those two
                    things so it can be used without major changes,
                    <strong>it wouldn't break anything to do so.</strong>
                  </li>
                  <li>
                    I didn't put that much security around the data from the
                    <i>sign up</i> form because it is actually not used, except
                    the password (md5 hash).
                  </li>
                  <li>
                    I use a
                    <em>token</em> system that is called everytime the user
                    wants to change something, it also allows more security to
                    avoid anyone to have acces to the website's content just by
                    changing a value, using the console
                  </li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        This is a fake website, done by Raphaël Karampournis
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "home",
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  }
};
</script>

<style>
.title {
  margin-top: 5vh;
}

div.message-body {
  text-align: left;
  padding: 50px;
}

.message ul {
  list-style: disc;
}
</style>
