<template>
  <div class="login">
    <h2 class="title has-text-primary">Login</h2>
    <h3 v-if="invalidLog" style="color: red">
      Invalid username and/or password
    </h3>
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="tile is-ancestor">
          <div class="tile is-2"></div>
          <div class="tile is-vertical is-8">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child notification is-primary">
                  <p class="subtitle">Please, enter your login credentials</p>
                  <div class="field">
                    <div class="control">
                      <input
                        class="input is-primary is-rounded"
                        type="text"
                        name="userName"
                        default="UserName"
                        v-model="userName"
                        placeholder="Username"
                        required
                        autofocus
                      />
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <input
                        class="input is-primary is-rounded"
                        type="password"
                        name="passWord"
                        default="passWord"
                        v-model="password"
                        placeholder="Password"
                        required
                      />
                    </div>
                  </div>
                  <button class="button is-link" @click="login">Log in</button>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>
      Not member yet ?
      <router-link to="/signup">Create an account</router-link>
    </p>
  </div>
</template>

<script>
import router from "@/router.js";
import md5 from "md5";
import { LoginService } from "@/services/loginSvc.js";

export default {
  name: "login",
  data() {
    return {
      userName: "",
      password: "",
      invalidLog: false,
      invalidSignup: false,
      newUser: "",
      newPw: "",
      newName: ""
    };
  },
  methods: {
    login() {
      if (this.userName !== "" && this.password !== "") {
        const login = LoginService.check(this.userName, md5(this.password));
        if (login == true) {
          LoginService.logUser(this.userName);
          router.push("/market"); // Go to home
        } else {
          this.invalidLog = true;
          return;
        }
      } else {
        this.invalidLog = true;
        return;
      }
    }
  }
};
</script>
