<template>
  <div class="market">
    <h2 class="title has-text-info">Market</h2>
    <h3 class="subtitle">Trade your stocks</h3>
    <div class="container is-fluid box">
      <buy
        v-if="buy"
        :buy="buy"
        :userName="userName"
        :selected="selected"
        @closeChild="closeBuy"
      />
      <sell
        v-if="sell"
        :sell="sell"
        :userName="userName"
        :selected="selected"
        @closeChild="closeSell"
      />
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Short Name</th>
            <th>Stock value</th>
            <th>Buy Stock</th>
            <th>Sell Stock</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stock in stocks" :key="stock.key" index="stock.index">
            <td>{{ stock.name }}</td>
            <td>
              <strong>{{ stock.shortName }}</strong>
            </td>
            <td>{{ stock.value }}</td>
            <td>
              <a class="button is-success" @click="buyStock(stock.index, true)"
                >Buy</a
              >
            </td>
            <td>
              <a
                class="button is-primary"
                v-if="
                  userData.portfolio.stocks.find(
                    company => company.index == stock.index
                  ) != undefined
                "
                @click="sellStock(stock.index, true)"
                >Sell</a
              >
              <a v-else class="button is-primary is-outlined" disabled>Sell</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import Buy from "../components/Buy.vue";
import Sell from "../components/Sell.vue";

export default {
  components: { Buy, Sell },
  data() {
    return {
      stocks: [],
      buy: false,
      sell: false,
      selected: null,
      selectedIndex: 0
    };
  },
  computed: {
    GlobalData() {
      return this.$store.getters.SUGlobalData;
    },
    userName() {
      return this.$store.getters.currentUser;
    },
    userData() {
      return this.$store.getters.userData;
    }
  },
  watch: {
    GlobalData() {
      this.stocks = this.GlobalData;
      this.selected = this.stocks[this.selectedIndex];
    }
  },
  methods: {
    buyStock(index, boolean) {
      this.selectedIndex = index;
      this.selected = this.stocks[this.selectedIndex];
      this.buy = boolean; // Split the functions to make emit from Buy component easier
    },
    closeBuy() {
      this.buy = false;
    },
    sellStock(index, boolean) {
      this.selectedIndex = index;
      this.selected = this.stocks[this.selectedIndex];
      this.sell = boolean; // Split the functions to make emit from Buy component easier
    },
    closeSell() {
      this.sell = false;
    }
  }
};
</script>
<style scoped>
.market {
  flex-direction: column;
}

.modal {
  display: flex;
}

div {
  display: flex;
}

table {
  margin-left: auto;
  margin-right: auto;
}
</style>
