<template>
  <div class="private">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Overview</h1>
          <h2 class="subtitle">
            Your funds :
            <strong>{{ userFunds }} $</strong>
          </h2>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column is-one-third">
        <div class="box has-background-white-ter">
          <h3 class="subtitle">Your stocks</h3>
          <table class="table is-hoverable is-striped">
            <thead>
              <tr>
                <th>Company name</th>
                <th>Short name</th>
                <th>Stock value</th>
                <th>Quantity owned</th>
                <th>Total value</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="stock in userStocks"
                :key="stock.key"
                index="stock.index"
              >
                <td>{{ SUGlobalData[stock.index].name }}</td>
                <td>
                  <strong>{{ SUGlobalData[stock.index].shortName }}</strong>
                </td>
                <td>{{ SUGlobalData[stock.index].value }}</td>
                <td>{{ stock.quantity }}</td>
                <td>
                  {{
                    (stock.quantity * SUGlobalData[stock.index].value).toFixed(
                      2
                    )
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h3 class="subtitle">
            Actual value of your portfolio :
            <strong>{{ totalValue.toFixed(2) }} $</strong>
          </h3>
          <stock-chart :mapped="trendValues" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import StockChart from "@/components/StockChart.vue";

export default {
  components: { stockChart: StockChart },
  computed: {
    SUGlobalData() {
      return this.$store.getters.SUGlobalData;
    },
    indexes() {
      let indexes = [];
      for (let i = 0; i < this.userStocks.length; ++i) {
        indexes.push(this.userStocks[i].index);
      }
      return indexes;
    },
    userFunds() {
      return this.$store.getters.userData.portfolio.funds.toFixed(2);
    },
    userStocks() {
      return this.$store.getters.userData.portfolio.stocks;
    },
    totalValue() {
      let total = 0;
      for (let i = 0; i < this.indexes.length; ++i) {
        total +=
          this.SUGlobalData[this.indexes[i]].value *
          this.userStocks[i].quantity;
      }
      return total;
    },
    trendValues() {
      return this.$store.getters.trendValues;
    }
  }
};
</script>
