<template>
  <div class="signUp">
    <h1 class="title">Sign up</h1>
    <div class="box">
      <h2 class="subtitle">All the fields are required</h2>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Your name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input
                class="input"
                name="name"
                type="text"
                placeholder="First Name"
                v-model="fName"
              />
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input
                class="input"
                name="name"
                type="text"
                placeholder="Last name"
                v-model="lName"
              />
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Your e-mail</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input
                class="input"
                type="email"
                placeholder="E-mail"
                v-model="mail"
              />
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input
                class="input"
                type="email"
                placeholder="Confirm e-mail"
                v-model="mailConf"
              />
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input
                class="input"
                type="password"
                placeholder="password"
                v-model="password"
              />
            </p>
            <p class="help is-info">6 characters minimum</p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input
                class="input"
                type="password"
                placeholder="password"
                v-model="passwordConf"
              />
            </p>
            <p class="help is-info">6 characters minimum</p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Country</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select v-model="country">
                  <option
                    @click="
                      countryIndicator = '+33';
                      country = 'France';
                    "
                    >France</option
                  >
                  <option
                    @click="
                      countryIndicator = '+46';
                      country = 'Sweden';
                    "
                    >Sweden</option
                  >
                  <option
                    @click="
                      countryIndicator = '+1';
                      country = 'United States';
                    "
                    >United States</option
                  >
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">{{ countryIndicator }}</a>
              </p>
              <p class="control is-expanded">
                <input
                  class="input"
                  type="tel"
                  placeholder="Your phone number"
                  maxlength="10"
                  v-model="phone"
                />
              </p>
            </div>
            <p class="help is-info">
              Do not enter the first zero, has to be 10 numbers long (excluding
              contry indicator)
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Birth date</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                type="text"
                name="age"
                placeholder="Birth date YYYY/MM/DD"
                v-model="birth"
              />
            </div>
            <p class="help is-info">
              Format : yyyy/mm/dd
              <span v-if="tooYoung" class="help is-danger"
                >You have to be an adult</span
              >
            </p>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" v-model="checked" />
                I agree to the
                <a href="#">terms and conditions</a>
              </label>
              <p v-if="!checked" class="help is-danger">
                You have to agree to it in order to continue
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" @click="sendNewUser">
                Create account
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { CreateAccService, LoginService } from "@/services/loginSvc.js";
import router from "@/router.js";
import md5 from "md5";

export default {
  data() {
    return {
      fName: "",
      lName: "",
      mail: "",
      mailConf: "",
      password: "",
      passwordConf: "",
      pwHash: "",
      country: "Sweden",
      countryIndicator: "+46",
      phone: "",
      birth: "",
      tooYoung: false,
      checked: false,
      allGood: true
    };
  },
  methods: {
    checkName(fName, lName) {
      let regex = /^[a-zA-Z\u00C0-\u017F\s]+$/;
      if (fName.length > 0 && lName.length > 0) {
        if (!regex.test(fName) && !regex.test(lName)) {
          this.validateInputs('[name="name"]', "danger"); // Custom method to highlight in red/green incorrect/correct inputs
          return (this.allGood = false);
        } else {
          this.validateInputs('[name="name"]', "success");
        }
      } else {
        this.validateInputs('[name="name"]', "danger");
        return (this.allGood = false);
      }
    },
    checkEmail(email, emailConf) {
      let regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (email != "") {
        if (regex.test(String(email).toLowerCase())) {
          if (email == emailConf) {
            this.validateInputs('[type="email"]', "success");
          } else {
            this.validateInputs('[type="email"]', "danger");
            return (this.allGood = false);
          }
        } else {
          this.validateInputs('[type="email"]', "danger");
          return (this.allGood = false);
        }
      }
    },
    checkPassWord(pw, pwConf) {
      if (pw.length >= 6) {
        if (pw == pwConf) {
          this.validateInputs('[type="password"]', "success");
          return (this.pwHash = "hash");
        } else {
          this.validateInputs('[type="password"]', "danger");
          return (this.allGood = false);
        }
      } else {
        this.validateInputs('[type="password"]', "danger");
        return (this.allGood = false);
      }
    },
    checkNumber(number) {
      let regex = /^[+]?[(]?[0-9]{3}[)]?[-s.]?[0-9]{3}[-s.]?[0-9]{4,6}$/m;
      if (number.length == 10) {
        if (regex.test(String(number).toLowerCase())) {
          this.validateInputs('[type="tel"]', "success");
        } else {
          this.validateInputs('[type="tel"]', "danger");
          return (this.allGood = false);
        }
      } else {
        this.validateInputs('[type="tel"]', "danger");
        return (this.allGood = false);
      }
    },
    checkAge(age) {
      if (age.length != 10) {
        this.validateInputs('[name="age"]', "danger");
        return (this.allGood = false);
      } else {
        if (this.calculateAge(age) < 18) {
          this.validateInputs('[name="age"]', "danger");
          this.tooYoung = true;
          return (this.allGood = false);
        } else {
          this.validateInputs('[name="age"]', "success");
        }
      }
    },
    calculateAge(age) {
      var today = new Date();
      var birthDate = new Date(age);
      var calcAge = today.getFullYear() - birthDate.getFullYear();
      var m = today.getMonth() - birthDate.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        calcAge--;
      }
      return calcAge;
    },
    checkFields() {
      if (!this.checked) {
        alert("You have to agree to the terms and conditions !");
        return false;
      } else {
        this.checkName(this.fName, this.lName);
        this.checkEmail(this.mail, this.mailConf);
        this.checkPassWord(this.password, this.passwordConf);
        this.checkNumber(this.phone);
        this.checkAge(this.birth);
        if (this.allGood) {
          const data = {
            fName: this.fName,
            lName: this.lName,
            mail: this.mail,
            country: this.country,
            phone: this.phone,
            birth: this.birth
          };
          const passWordHash = md5(this.password);
          return [true, passWordHash, data];
        } else {
          this.allGood = true;
          return alert("One or several fields are incorrect !");
        }
      }
    },
    sendNewUser() {
      const check = this.checkFields();
      const result = check[0];
      const passWordHash = check[1];
      const data = check[2];
      if (result) {
        const checkExist = CreateAccService.checkExisting(data.fName);
        if (checkExist === false) {
          CreateAccService.createUser(data.fName, passWordHash, data);
          LoginService.logUser(data.fName);
          router.push("/market");
        } else {
          this.allGood = true;
          return alert("One user already has this name !");
        }
      }
    },
    validateInputs(selector, successOrDanger) {
      let inputs = document.querySelectorAll(selector);
      if (successOrDanger === "success") {
        for (let i = 0; i < inputs.length; ++i) {
          inputs[i].classList.add("is-success");
          inputs[i].classList.remove("is-danger");
        }
      } else {
        for (let i = 0; i < inputs.length; ++i) {
          inputs[i].classList.add("is-danger");
          inputs[i].classList.remove("is-success");
        }
      }
    }
  }
};
</script>

<style>
.signUp {
  margin-top: 20px;
}
</style>
