<template>
  <div class="modal modal-sell">
    <div class="modal-background"></div>
    <div class="modal-content box">
      <article class="message">
        <div class="message-header">
          <h3 class="subtitle has-text-weight-bold has-text-light">
            Sell
            <i class="has-text-primary">{{ selected.name }}</i> stocks
          </h3>
        </div>
        <div class="message-body">
          <p class="subtitle">
            Your funds
            <strong class="has-text-primary">
              {{
                (userData.portfolio.funds + amount * selected.value).toFixed(3)
              }}
              $
            </strong>
          </p>
          <p>
            Stock price :
            <strong class="has-text-primary">{{ selected.value }}</strong>
          </p>
          <br />
          <p>
            Available :
            <strong class="has-text-primary">
              {{
                userData.portfolio.stocks[stockPortfolioIndex].quantity - amount
              }}
            </strong>
          </p>
          <br />
          <p>
            Amount :
            <span v-if="!number" style="color: red"
              >Please enter a number !</span
            >
            <span v-if="!enoughStock" style="color: red"
              >You don't have enough stocks !</span
            >
            <input name="amount" type="number" v-model="amount" />
            <br />
            {{ selected.price }}
          </p>
          <br />
          <p>
            <strong class="has-text-info"
              >TOTAL : {{ amount * selected.value }} $</strong
            >
          </p>
          <br />
        </div>
      </article>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <button class="button is-primary" @click="sellIt">Sell</button>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <button class="button" @click="cancel">Cancel</button>
          </div>
        </div>
      </nav>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click="cancel"
    ></button>
  </div>
</template>
<script>
import { BuySellService } from "../services/buySellSvc.js";
import { TokenService } from "../services/tokenSvc.js";
import { DataService } from "../services/dataSvc.js";

export default {
  name: "Sell",
  data() {
    return {
      amount: 0,
      number: true,
      enoughStock: true
    };
  },
  props: {
    selected: Object,
    userName: String
  },
  computed: {
    totalPrice() {
      return this.selected.value * this.amount;
    },
    amountIsNumber() {
      return Number(this.amount);
    },
    userToken() {
      return this.$store.getters.userToken;
    },
    userData() {
      return this.$store.getters.userData;
    },
    stockPortfolioIndex() {
      // returns index from client's portfolio
      const selectedIndex = this.selected.index;
      return this.userData.portfolio.stocks.findIndex(function(element) {
        return element.index == selectedIndex;
      });
    },
    available() {
      return (
        this.userData.portfolio.stocks[this.stockPortfolioIndex].quantity -
        this.amount
      );
    }
  },
  methods: {
    sellIt() {
      if (TokenService.getToken(this.userName) === this.userToken) {
        if (this.amountIsNumber > 0) {
          if (
            BuySellService.checkEnoughStocks(
              this.selected.index,
              this.amountIsNumber
            ) // Check if we don't try to sell more than we have
          ) {
            this.number = true;
            BuySellService.sellStock(
              this.userName,
              this.selected.index,
              this.available,
              this.totalPrice,
              this.selected.name
            );
            DataService.updateUserPortfolio(this.userName);
            this.cancel();
          } else {
            this.enoughStock = false;
          }
        } else {
          return (this.number = false);
        }
      }
    },
    cancel() {
      this.amount = 0;
      this.$emit("closeChild");
    }
  }
};
</script>
