<template>
  <highcharts
    class="stock"
    :constructor-type="'stockChart'"
    :options="stockOptions"
  ></highcharts>
</template>

<script>
import { Chart } from "highcharts-vue";
import Highcharts from "highcharts";
import stockInit from "highcharts/modules/stock";

stockInit(Highcharts);

export default {
  name: "StockChart",
  components: {
    highcharts: Chart
  },
  props: { mapped: Array },
  data() {
    return {
      stockOptions: {
        rangeSelector: {
          buttons: [{ type: "all", text: "Last" }],
          inputEnabled: false,
          selected: 1
        },
        title: {
          text: "Portfolio global value"
        },
        series: [
          {
            data: this.mapped,
            pointStart: Date.now()
          }
        ]
      }
    };
  },
  watch: {
    mapped() {
      this.stockOptions.series[0].data = this.mapped;
    }
  }
};
</script>
<style scoped>
.stock {
  width: 70%;
  margin: 0 auto;
}
</style>
