<template>
  <div id="app">
    <back-end-module />
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <router-link class="navbar-item is-uppercase is-size-1" to="/"
          >StockUp</router-link
        >

        <a
          @click="activeMobile()"
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <router-link class="navbar-item" to="/">Home</router-link>
          <router-link class="navbar-item" to="/overview">Overview</router-link>
          <router-link class="navbar-item" to="/market">Market</router-link>
          <router-link class="navbar-item" to="/about">About</router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <router-link
                class="button is-light"
                v-if="currentUser == ''"
                to="/login"
                >Log in</router-link
              >
              <h5 class="subtitle navbar-greetings" v-if="currentUser != ''">
                Welcome,
                <strong>{{ currentUser }}</strong>
              </h5>
              <span
                class="button is-info is-inverted is-outlined"
                @click="logout"
                v-if="currentUser != ''"
                >Log out</span
              >
              <router-link
                class="button is-info"
                v-if="currentUser == ''"
                to="/signup"
                >Sign up</router-link
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-view />
  </div>
</template>

<script>
import BackEndModule from "@/modules/BackEndModule.vue";
import { DataService } from "@/services/dataSvc.js";
import router from "@/router.js";
import { LoginService } from "@/services/loginSvc.js";

export default {
  components: { BackEndModule },
  name: "app",
  data() {
    return { stopInterval: false };
  },
  computed: {
    currentUser() {
      return this.$store.getters.currentUser;
    }
  },
  methods: {
    logout() {
      LoginService.logOut(this.currentUser);
      this.stopInterval = false;
      router.push("/");
    },
    activeMobile() {
      document.querySelector(".navbar-menu").classList.toggle("is-active");
      document.querySelector(".navbar-burger").classList.toggle("is-active");
    }
  },
  watch: {
    currentUser() {
      /* every 1 sec if the user is logged in, fetch data, with a real server I could've 
          used HTTP methods or a web socket to do this */
      if (this.currentUser != "") {
        this.stopInterval = false;
        const interval = setInterval(() => {
          DataService.updateUsersTrend(this.$store.state.currentUser);
          DataService.getGlobalData();
          if (this.stopInterval) {
            clearInterval(interval);
          }
        }, 1000);
      } else {
        this.stopInterval = true;
      }
    }
  }
};
</script>

<style lang="scss">
@import "./style.scss";

div {
  text-align: center;
}

.navbar-greetings {
  margin: 15px;
}

.navbar {
  outline: none !important;
}
</style>
