@import "../node_modules/bulma/bulma.sass";

.table.is-fullwidth {
    width: 80%
}

.hero.is-large .hero-body {
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.container.is-fluid {
    padding: 20px;
}